body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("../../fonts/NotoSansKR-Light.eot");
  src: url("../../fonts/NotoSansKR-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../../fonts/NotoSansKR-Light.woff") format("woff"),
    url("../../fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("../../fonts/NotoSansKR-DemiLight.eot");
  src: url("../../fonts/NotoSansKR-DemiLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/NotoSansKR-DemiLight.woff2") format("woff2"),
    url("../../fonts/NotoSansKR-DemiLight.woff") format("woff"),
    url("../../fonts/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url("../../fonts/NotoSansKR-Regular.eot");
  src: url("../../fonts/NotoSansKR-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../fonts/NotoSansKR-Regular.woff") format("woff"),
    url("../../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  src: url("../../fonts/NotoSansKR-Medium.eot");
  src: url("../../fonts/NotoSansKR-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../fonts/NotoSansKR-Medium.woff") format("woff"),
    url("../../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url("../../fonts/NotoSansKR-Bold.eot");
  src: url("../../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../fonts/NotoSansKR-Bold.woff") format("woff"),
    url("../../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 900;
  src: url("../../fonts/NotoSansKR-Black.eot");
  src: url("../../fonts/NotoSansKR-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/NotoSansKR-Black.woff2") format("woff2"),
    url("../../fonts/NotoSansKR-Black.woff") format("woff"),
    url("../../fonts/NotoSansKR-Black.otf") format("opentype");
}
