@keyframes domino {
  0% {
    opacity: 0;
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    opacity: 1;
  }

  40% {
    transform: translateX(-40px) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: translateX(-50px) rotate(22deg);
  }

  85% {
    opacity: 1;
    transform: translateX(-85px) rotate(60deg);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px) rotate(65deg);
  }
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes vibrate {
  0% {
    margin-left: -2px;
  }
  25% {
    margin-left: 2px;
  }
  75% {
    margin-left: -2px;
  }
  100% {
    margin-left: 2px;
  }
}
