// color
$color-white: #ffffff;
$color-black: #222222;
$color-grey: #878787;
$color-deepgrey: #787878;
$color-mediumgrey: #505050;
$color-point: #1388be;

// font weight
$white-black: 900;
$weight-extrabold: 800;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-medium: 500;
$weight-regular: 400;
$weight-light: 300;
$weight-thin: 100;
