:root {
  --height-header: 48px;
  --height-footer: 72px;

  // color
  --color-white: #ffffff;
  --color-black: #222222;
  --color-ash: #e3e3e3;
  --color-lightgrey: #bbbbbb;
  --color-grey: #878787;
  --color-deepgrey: #787878;
  --color-mediumgrey: #505050;
  --color-point: #1388be;
  --color-red: #e51937;

  // font weight
  --weight-black: 900;
  --weight-extrabold: 800;
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;
}
